

html,body{
    height:100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to left,rgb(167, 128, 2),rgb(214, 61, 87));
}

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right,rgb(214, 61, 87),rgb(241, 204, 79));
    padding: 10px;
    border-bottom: 2px solid rgb(66, 1, 42);
}

nav a:visited,
nav a:link{
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

nav > ul{
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main{
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer{
    padding: 15px;
    background: linear-gradient(to right,rgb(214, 61, 87),rgb(241, 204, 79));
    border-top: 2px solid rgb(66, 1, 42);
}
aside,article {
    padding: 2em;

}

aside{
    margin-left:  2px;
}

article{
    width: 75%;
    text-align: justify;
    justify-content: center;
}

article>img{
    max-width: 80%;
    max-height: 80%;
    padding-left: 15em;

}

@media only screen and (min-width:768px){
    
}

.banner{
    max-width: 80%;
    max-height: 80%;
    padding-left:24em;
}

.logo{
    max-height: 80%;
    max-width: 80%;
}

h1,h2{
    color: rgb(63, 26, 26);
    font-size: 1.5em;
    margin-top: 0em;
    padding-left: 19em;
    font-style:oblique;
}
h2{
    padding-left: 21em;
}

.subtitle{
    font-size: 1em;
    padding: 1em;
    margin-top: 0.5em;
    margin-left: 18em;
    font-style: italic;
}




